.header {
  width: calc(100% - 3rem);
}

.header h1 {
  background-image: linear-gradient(to bottom right, rgba(255, 178, 230, 1), rgba(132, 71, 255, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name:only-child {
  width: 100%;
  text-align: center;
}
