.header {
  width: calc(100% - 3rem);
}

.header h1 {
  background-image: linear-gradient(to bottom right, #8161ff, #752d58);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name:only-child {
  width: 100%;
  text-align: center;
}
