.calendar {
  color: white;
  height: fit-content;
  max-width: fit-content;
  padding: 0.5rem 0.5rem;
}

.calendar:focus{
  outline-style: dashed;
  outline-width: 3px;
}

.calendar::-webkit-calendar-picker-indicator {
  filter: invert(1);
  width: 2.6rem;
  height: 2.6rem;
}
